Brotli==1.1.0
certifi==2023.11.17
charset-normalizer==3.3.2
colorama==0.4.6
discum @ git+https://github.com/Merubokkusu/Discord-S.C.U.M.git@3a3d9334f66e2f7c7954fcb616a06c52b252804e
filetype==1.2.0
idna==3.4
requests==2.31.0
requests-toolbelt==1.0.0
six==1.16.0
ua-parser==0.18.0
urllib3==2.1.0
websocket-client==0.59.0
